@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

body {
  font-family: 'DM Sans', 'Noto Color Emoji' !important;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  letter-spacing: -0.5px;
}

option {
  color: black;
}

input {
  color: var(--colors-gray-700);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.chakra-ui-dark *::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

* {
  border-color: var(--chakra-colors-chakra-border-color);
}
